@import 'styles/variables';

.menuItem {
  padding: 10px 0 10px 40px;
  display: flex;
  align-items: center;

  &.linkDefault {
    color: $color-gray-light;
  }
  
  &.linkActive {
    color: $color-primary-green;
    position: relative;

    &::after{
        content: '';
        width: 6px;
        height: 100%;
        position: absolute;
        background-color: $color-primary-green;
        top: 0;
        right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
  }
}



.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 2px;

  &.iconBoxActive{
    background-color: $color-primary-green;
    color: $white;
  }
}
